<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487592577461-u09m535449vakcv9jj1dc3th5722tl6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487592577461-u09m535449vakcv9jj1dc3th5722tl6f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487592577461-9qgqtd6f6ot1hbns288a95g5o230nd51.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWxK4EloITJGM9a9nCfww0xrjJj5lQ9M</string>
	<key>GCM_SENDER_ID</key>
	<string>487592577461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doer.flutterFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>bizcards-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bizcards-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487592577461:ios:ab41e269db050d3d6431fc</string>
</dict>
</plist>